@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.3rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.684 0.278 282.1);
  --primary-foreground: oklch(0.97 0.01 255.6);
  --secondary: oklch(0.961 0.03 251.3);
  --secondary-foreground: oklch(0.215 0.11 257.6);
  --muted: oklch(0.961 0.03 251.3);
  --muted-foreground: oklch(0.598 0.047 251.1);
  --accent: oklch(0.961 0.03 251.3);
  --accent-foreground: oklch(0.215 0.11 257.6);
  --destructive: oklch(0.672 0.288 27.1);
  --destructive-foreground: oklch(0.97 0.01 255.6);
  --border: oklch(0.922 0.03 251.3);
  --input: oklch(0.922 0.03 251.3);
  --ring: oklch(0.684 0.278 282.1);
  --chart-1: oklch(0.708 0.265 29.35);
  --chart-2: oklch(0.51 0.195 186.9);
  --chart-3: oklch(0.312 0.104 234.6);
  --chart-4: oklch(0.818 0.268 81.6);
  --chart-5: oklch(0.825 0.308 68.6);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.97 0.01 255.6);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.97 0.01 255.6);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.97 0.01 255.6);
  --primary: oklch(0.598 0.265 284.7);
  --primary-foreground: oklch(0.97 0.01 255.6);
  --secondary: oklch(0.205 0.08 250.3);
  --secondary-foreground: oklch(0.97 0.01 255.6);
  --muted: oklch(0.205 0.08 250.3);
  --muted-foreground: oklch(0.708 0.05 252.6);
  --accent: oklch(0.205 0.08 250.3);
  --accent-foreground: oklch(0.97 0.01 255.6);
  --destructive: oklch(0.4 0.192 27.1);
  --destructive-foreground: oklch(0.97 0.01 255.6);
  --border: oklch(0.205 0.08 250.3);
  --input: oklch(0.205 0.08 250.3);
  --ring: oklch(0.598 0.265 284.7);
  --chart-1: oklch(0.598 0.26 255.7);
  --chart-2: oklch(0.53 0.22 185.3);
  --chart-3: oklch(0.698 0.28 72.1);
  --chart-4: oklch(0.698 0.265 307.8);
  --chart-5: oklch(0.658 0.265 20.5);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--background);
  --color-sidebar-foreground: var(--foreground);
  --color-sidebar-primary: var(--primary);
  --color-sidebar-primary-foreground: var(--primary-foreground);
  --color-sidebar-accent: var(--accent);
  --color-sidebar-accent-foreground: var(--accent-foreground);
  --color-sidebar-border: var(--border);
  --color-sidebar-ring: var(--ring);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

img, button,a {
  user-select: none;
}