@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.3rem;
--background: #ffffff;
  --foreground: #131313;
  --card: #ffffff;
  --card-foreground: #131313;
  --popover: #ffffff;
  --popover-foreground: #131313;
  --primary: #b342ff;
  --primary-foreground: #f2f2ff;
  --secondary: #f1e8ff;
  --secondary-foreground: #2a1d3c;
  --muted: #f1e8ff;
  --muted-foreground: #8e84aa;
  --accent: #f1e8ff;
  --accent-foreground: #2a1d3c;
  --destructive: #ff5030;
  --destructive-foreground: #f2f2ff;
  --border: #e9e0ff;
  --input: #e9e0ff;
  --ring: #7742ff;
  --chart-1: #ff9d44;
  --chart-2: #2a9fff;
  --chart-3: #3446a0;
  --chart-4: #e7e243;
  --chart-5: #f5e04a;
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
--background: #131313;
  --foreground: #f2f2ff;
  --card: #131313;
  --card-foreground: #f2f2ff;
  --popover: #131313;
  --popover-foreground: #f2f2ff;
  --primary: #6922e3;
  --primary-foreground: #f2f2ff;
  --secondary: #1a132b;
  --secondary-foreground: #f2f2ff;
  --muted: #1a132b;
  --muted-foreground: #b3a9e6;
  --accent: #1a132b;
  --accent-foreground: #f2f2ff;
  --destructive: #8c3622;
  --destructive-foreground: #f2f2ff;
  --border: #1a132b;
  --input: #1a132b;
  --ring: #8252dd;
  --chart-1: #806add;
  --chart-2: #2e8ccc;
  --chart-3: #f6cb29;
  --chart-4: #b248d6;
  --chart-5: #e77a28;
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--background);
  --color-sidebar-foreground: var(--foreground);
  --color-sidebar-primary: var(--primary);
  --color-sidebar-primary-foreground: var(--primary-foreground);
  --color-sidebar-accent: var(--accent);
  --color-sidebar-accent-foreground: var(--accent-foreground);
  --color-sidebar-border: var(--border);
  --color-sidebar-ring: var(--ring);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

img, button, a, div {
  user-select: none;
}

.active {
  background-color: var(--secondary)
}